<div class="container">
  <div class="row">
    <div class="col-sm">
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Any Text with/without a Link</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Text..." #inputEl>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="(linkPreview$ | async) as preview">
      {{preview| json}}
    </ng-container>
  </div>
</div>